
/* left style */

.crew-left{
    gap: 1rem;
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.crew-left>:nth-child(1){
    font-size: 40px;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    font-family: 'Bellefair', serif;;
}

.crew-left>:nth-child(2){
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-family: 'Bellefair', serif;;
}

.crew-left>:nth-child(3){
    font-size: 18px;
    color: rgba(208, 214, 249, 1);
    font-weight: 400;
    line-height: 23px;
}

.crew-left>:nth-child(3){
    width: 80%;
}

/* right scetion */

.crew-right{
    width: 40%;
}

.crew-right>:nth-child(2){
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    height: 5px;
}
.crew-right>img{
    width: 50%;
}

@media (max-width: 885px){
    .crew-container.flexCenter{
        flex-direction: column-reverse;

    }

    .crew-left.flexColStart{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .crew-left{
        width: 100%;
    }

    .crew-left>:nth-child(3){
        width: 100%;
    }

    .crew-right{
        width: 100%;
    }

    .crew-right>img{
        width: 70%;
    }

}

@media (max-width: 470px){
    .crew-left>:nth-child(2){
        font-size: 35px;
    }

    .crew-left>:nth-child(1){
        font-size: 27px;
    }

    .crew-left>:nth-child(3){
        font-size: 16px;
    }
}