
.tech-container{
    padding-top: 13rem;
    width: 100%;
    background-size: cover;
    background: var(--primary);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.rounded-btn{
    position: absolute;
    left: 3%;
    top: 55%;
    z-index: 20;
}

.rounded{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid gray;
    background: transparent;
    color: white;
}

.rounded.active{
    background: white;
    color: black;
    border: none;
}

.rounded:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.3);
}

@media (max-width: 1032px){
    .rounded-btn{
        gap: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        left: 25%;
        top: 23%;
    }

    .rounded{
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 430px){
    .rounded{
        width: 45px;
        height: 45px;
    }

    .rounded-btn{
        top: 23%;
    }
}