.crew{
    padding-top: 10rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.slider-btn{
   position: absolute;
   display: flex;
   z-index: 10;
   top: 80%;
   left: 6%;
   width: 15%;
   justify-content: space-around;
}

.btn{
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50%;
}

 .btn:hover{
    cursor: pointer;
 }

 .btn.active{
    background: white;
    border-radius: 50%;
 }

 @media (max-width: 887px) {
   .crew{
      height: 100%;
      padding-top: 7rem;
   }
   .slider-btn{
      top: 93%;
      left: 30%;
      width: 30%;
   }

   .btn{
      width: 20px;
      height: 20px;
  }
 }

 @media (max-width:470px){
   .slider-btn{
      top: 98%;
      width: 36%;
   }
 }