.home-container{
    padding-top: 7rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.home-sub-con.flexCenter{
    justify-content: space-between;
}

/* left style */
.home-sub-con>:nth-child(1){
    width: 40%;
    color: white;
    gap: 1rem;
}

.home-left-section>:nth-child(1){
    font-size: 2rem;
    font-weight: 400;
    color: #D0D6F9;
    
}

.home-left-section>:nth-child(2){
    font-size: 150px;
    color: white;
    font-weight: 400;
    font-family: 'Bellefair', serif;
}

.home-left-section>:nth-child(3){
    font-size: 1.1rem;
    color: rgba(208, 214, 249, 1);
    font-weight: 400;
    line-height: 32px;
    width: 80%;
}

/* right style */

.home-sub-con>:nth-child(2){
    width: 40%;
    
}

.explore{
    width: 274px;
    height: 274px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

@media (max-width: 800px){
    .home-sub-con.flexCenter{
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
    }

    .explore{
        width: 240px;
        height: 249px;
    }

    .home-container{
        height: 100%;
    }

    .home-left-section.flexColStart{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .home-sub-con>:nth-child(1){
        width: 100%;
    }

    .home-left-section>:nth-child(3){
        font-size: 1.1rem;
        color: rgba(208, 214, 249, 1);
        font-weight: 400;
        line-height: 32px;
        width: 80%;
    }

    .home-sub-con>:nth-child(2){
        width: 100%;
        
    }
}

@media (max-width: 450px){
    .home-left-section>:nth-child(2){
        font-size: 100px;
    }

    .home-left-section>:nth-child(3){
        width: 100%;
    }
    .explore{
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 1080px){
    .home-container{
        height: 100%;
    }
}